html {
    width: 100%;
    height: 100%;
}

a {
    color: #f75c74;
    cursor: pointer;
}

body {
    font-size: 1.4em;
    line-height: 1.3;
    height: 100%;
}

.container {
    padding-top: 3rem;
    text-align: center;
}

.fancy-text {
    font-size: 2em;
    font-family: 'Dancing Script', cursive;
    color: #f75c74;
}

.landing {
    display: flex;
    height: 200px;
}

.block-over {
    background: rgba(255, 255, 255, .7);
    align-items: stretch;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 5;
    text-align: center;
}

div.text-frame {
    position: absolute;
    top: 10%;
    height: 80%;
    left: 10%;
    width: 80%;
}

.hide {
    visibility: hidden;
}

@media (min-width: 400px) {
    body {
        font-size: 2em;
    }

    .fancy-text {
        font-size: 2em;
    }

    .landing {
        height: 400px;
    }
}

@media (min-width: 550px) {
    body {
        font-size: 2.3em;
    }

    .fancy-text {
        font-size: 2.8em;
    }

    .landing {
        height: 600px;
    }
}